# OSX files
#
.DS_Store

# Sublime text editor
#
*.sublime-project
*.sublime-workspace

# PyCharm (and other JetBrains) IDE
#
.idea

# Compile output
#
target

database.json
project_config

bk_log.txt
bk-args.json
jeff_books.*

backup_close_*

rb_*.sh
example2

probably_unused

cmit-args.json
